/*--------------------------------------------------------------
# Global utility
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: .1em;
}

a {
  @extend .transition;

  &:hover {
    text-decoration: none;
  }
}
