/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header{
  .menu-btn{
    border: none;
    background: none;
  }
}

/*--------------------------------------------------------------
# Site navigation mobile
--------------------------------------------------------------*/
.site-navigation-mobile{
  .menu-btn{
    border: none;
    background: none;
  }
}

/*--------------------------------------------------------------
# Main visual
--------------------------------------------------------------*/
